@font-face {
  font-family: 'RocaOne-Th';
  src: url('./fonts/RocaOne-Th.woff2') format('woff2'),
    url('./fonts/RocaOne-Th.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-body-family: 'RocaOne-Th';
  --font-body-style: normal;
  --font-body-weight: 400;

  --font-heading-family: 'Amatic SC', cursive;
  --font-heading-style: normal;
  --font-heading-weight: 400;

  --font-body-scale: 1.05;
  --font-heading-scale: 1;

  --color-base-text: 110, 139, 116;
  --color-shadow: 16, 57, 72;
  --color-base-background-1: 255, 246, 241;
  --color-base-background-2: 235, 236, 237;
  --color-base-solid-button-labels: 255, 255, 255;
  --color-base-outline-button-labels: 5, 44, 70;
  --color-base-accent-1: 16, 57, 72;
  --color-base-accent-2: 16, 57, 72;
  --payment-terms-background-color: #ffffff;

  --gradient-base-background-1: #ffffff;
  --gradient-base-background-2: #ebeced;
  --gradient-base-accent-1: #6e8b74;
  --gradient-base-accent-2: #6e8b74;

  --media-padding: px;
  --media-border-opacity: 0.05;
  --media-border-width: 0px;
  --media-radius: 0px;
  --media-shadow-opacity: 0;
  --media-shadow-horizontal-offset: 0px;
  --media-shadow-vertical-offset: 0px;
  --media-shadow-blur-radius: 0px;

  --page-width: 120rem;
  --page-width-margin: 0rem;

  --card-image-padding: 0rem;
  --card-corner-radius: 0rem;
  --card-text-alignment: center;
  --card-border-width: 0rem;
  --card-border-opacity: 0;
  --card-shadow-opacity: 0.1;
  --card-shadow-horizontal-offset: 0rem;
  --card-shadow-vertical-offset: 0rem;
  --card-shadow-blur-radius: 0rem;

  --badge-corner-radius: 4rem;

  --popup-border-width: 0px;
  --popup-border-opacity: 0.1;
  --popup-corner-radius: 0px;
  --popup-shadow-opacity: 0.1;
  --popup-shadow-horizontal-offset: 6px;
  --popup-shadow-vertical-offset: 6px;
  --popup-shadow-blur-radius: 25px;

  --drawer-border-width: 1px;
  --drawer-border-opacity: 0.1;
  --drawer-shadow-opacity: 0;
  --drawer-shadow-horizontal-offset: 0px;
  --drawer-shadow-vertical-offset: 0px;
  --drawer-shadow-blur-radius: 0px;

  --spacing-sections-desktop: 0px;
  --spacing-sections-mobile: 0px;

  --grid-desktop-vertical-spacing: 40px;
  --grid-desktop-horizontal-spacing: 40px;
  --grid-mobile-vertical-spacing: 20px;
  --grid-mobile-horizontal-spacing: 20px;

  --text-boxes-border-opacity: 0;
  --text-boxes-border-width: 0px;
  --text-boxes-radius: 0px;
  --text-boxes-shadow-opacity: 0;
  --text-boxes-shadow-horizontal-offset: 0px;
  --text-boxes-shadow-vertical-offset: 0px;
  --text-boxes-shadow-blur-radius: 0px;

  --buttons-radius: 40px;
  --buttons-radius-outset: 41px;
  --buttons-border-width: 1px;
  --buttons-border-opacity: 1;
  --buttons-shadow-opacity: 0.1;
  --buttons-shadow-horizontal-offset: 2px;
  --buttons-shadow-vertical-offset: 2px;
  --buttons-shadow-blur-radius: 5px;
  --buttons-border-offset: 0.3px;

  --inputs-radius: 2px;
  --inputs-border-width: 1px;
  --inputs-border-opacity: 0.15;
  --inputs-shadow-opacity: 0.05;
  --inputs-shadow-horizontal-offset: 2px;
  --inputs-margin-offset: 2px;
  --inputs-shadow-vertical-offset: 2px;
  --inputs-shadow-blur-radius: 5px;
  --inputs-radius-outset: 3px;

  --variant-pills-radius: 40px;
  --variant-pills-border-width: 1px;
  --variant-pills-border-opacity: 0.55;
  --variant-pills-shadow-opacity: 0;
  --variant-pills-shadow-horizontal-offset: 0px;
  --variant-pills-shadow-vertical-offset: 0px;
  --variant-pills-shadow-blur-radius: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}
